---
import { client } from "../data/client";
import ContentLayout from "../layouts/ContentLayout.astro";
import Layout from "../layouts/Layout.astro";
import PageLayout from "../layouts/PageLayout.astro";
import CallToAction from "../components/section/CallToAction.astro";
---

<Layout
	title="About Us"
	seo_title="Mechanic Services Rockville - About Us"
	seo_description="Car mechanic in Rockville, MD. Our team of experienced technicians is dedicated to providing top-quality repairs and maintenance for all types of vehicles."
>
	<PageLayout title="About Us" subtitle="Our Mission" breadcrumb="About Us">
		<ContentLayout>
			<h2>
				<strong>Local Rockville Mechanics: Auto Repair Services Nearby!</strong>
			</h2>
			<img
				src="/assets/images/mechanic-rockville-md-nearby.webp"
				alt="Local Rockville Mechanics: Auto Repair Services Nearby!"
			/>‍
			<p>
				Are you looking for quality auto repair services in your neighborhood?
				Your search ends here!
			</p>
			<h3>Repair Shop in Rockville, MD</h3>
			<p>
				Five-O Autocare is a full-service auto repair shop. We offer complete
				auto repair services and guarantee quality work. We also have diagnostic
				services like tire rotations and oil changes. We handle any type of
				cars: luxury, convertible, truck, or suv. We are located near Rockville
				Town Center. We accept walk-ins, however, please <a
					href={`tel:${client.phone}`}
					style="color:blue;">Call us</a
				>
				ahead to ensure your appointment. You can call us at <a
					href={`tel:${client.phone}`}>{client.phoneFormatted}</a
				>. Our hours of operation are:
				<br />
				<br />Hours:
				<br />Mon - Fri: {client.hours!.monday}
				<br />Sat: {client.hours!.saturday}
				<br />Sun: {client.hours!.sunday}
			</p>
			<h3>Auto Brake Replacement</h3>
			<p>
				You may have found it difficult to find a good auto repair shop in
				Rockville that offers quality brake repair services. Rest assured that
				we're here for you. {client.name} is committed to providing our customers
				with excellent brake repair services.
			</p>
			<h3>Tune-up Services</h3><p>
				Is your vehicle running smoothly? If it's been a while since your last
				tune up, it may be time to schedule a visit to {client.name}. Our
				experienced mechanics will inspect your vehicle's vital systems,
				including the ignition, fuel, and emissions, to ensure peak performance
				and fuel efficiency. With regular tune ups, you can help prevent
				breakdowns and extend the life of your vehicle. Contact us today to
				schedule your appointment and keep your car running at its best.
			</p>
			<h3>Transmission Repair</h3><p>
				Don't let transmission problems leave you stranded on the side of the
				road. We offer comprehensive transmission services to keep your vehicle
				running smoothly. From fluid changes to complete rebuilds, our expert
				mechanics have the knowledge and experience to diagnose and repair any
				transmission issue. We use only top-quality parts and offer competitive
				pricing to keep your vehicle running and your wallet happy. Contact us
				today to schedule your transmission service and get back on the road
				with confidence.
			</p>
		</ContentLayout>
		<CallToAction />
	</PageLayout>
</Layout>
