---
interface Props {
	url?: string;
	image?: string;
	title?: string;
	subtitle?: string;
	breadcrumb?: string;
}

const {
	url = "/",
	image = "mechanic-rockville-md-nearby.webp",
	title = "card title",
	summary = "Articles about cars, news, and other interesting things about cars.",
	tags = "autocare",
} = Astro.props;
---

<a href={url}>
	<div class="single-card">
		<div class="image-container">
			<img
				src=`../assets/images/${image}`
				alt="mechanic rockville md near me"
			/>
		</div>
		<div class="content">
			<h4>{tags}</h4>
			<h3>{title}</h3>
			<p>{summary}</p>
		</div>
	</div>
</a>
