---
interface Props {
	url?: string;
	image?: string;
	title?: string;
	summary?: string;
	breadcrumb?: string;
}

const {
	url = "/",
	image = "mechanic-rockville-md-nearby.webp",
	title = "card title",
	summary = "Articles about cars, news, and other interesting things about cars.",
	tags = "autocare",
} = Astro.props;
---

<li class="single-card">
	<div class="image-container">
		<a href={url}>
			<img
				src={`../assets/images/${image}`}
				alt="mechanic rockville md near me"
			/>
		</a>
	</div>
	<div class="content">
		<h4 class="tags">{tags}</h4>
		<a href={url}>
			<h3 class="title">{title}</h3>
			<p class="summary">{summary}</p>
		</a>
		<div class="article-link">
			<a href={url}>Learn more..</a>
		</div>
	</div>
</li>
